#productss-menu {
    height: 300px;
    }
    #prod-align{
        padding: auto;
        text-align: center;
        height: 40px;
    }
    
    #produ-center{
        text-align: center;
        height: 40px;
    }
    #prod-id{
        text-align: center;
        height: 40px;
    }