#users-menu {
height: 300px;
/* align-self: center; */
/* width: 80%; */
}
#button-align{
    padding: auto;
    text-align: center;
    height: 40px;
}

#button-center{
    text-align: center;
    height: 40px;
}
#button-id{
    text-align: center;
    height: 40px;
}