#users-menu {
height: 300px;
/* align-self: center; */
width: 60%;
}
#button-align{
    padding: auto;
    text-align: center;
    height: 40px;
    /* width: 100ex; */
}

#button-center{
    text-align: center;
    height: 40px;
}
#button-id{
    text-align: center;
    height: 40px;
}